.menu{
    float: left;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 240px;
    background-color: #324057;
    line-height: 24px;
    overflow-x: hidden;
}
.layout-content {
    position: absolute;
    left: 300px;

    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 1000;
}